@model ReCaptchaPartSettings
@using Orchard.AntiSpam.Settings;

<fieldset>
    <div>
        @Html.TextBoxFor(m => m.PublicKey, new { @class = "textMedium"})
        @Html.Hint(T("Your public key."))
    </div>
</fieldset>

<fieldset>
    <div>
        @Html.TextBoxFor(m => m.PrivateKey, new { @class = "textMedium"})
        @Html.Hint(T("Your private key."))
    </div>
</fieldset>

@T("Get custom keys:") <a href="http://www.google.com/recaptcha">http://www.google.com/recaptcha</a>