@model Orchard.AntiSpam.Models.AkismetSettingsPartRecord
@using Orchard.Utility.Extensions;

<fieldset>
   <legend>@T("Akismet")</legend>
   <div>
       @Html.EditorFor(m => m.TrustAuthenticatedUsers)
       <label class="forcheckbox" for="@Html.FieldIdFor(m => m.TrustAuthenticatedUsers)">@T("Trust content submitted by authenticated users")</label>
       @Html.Hint(T("Check if authenticated users should have their content automatically approved."))
   </div>
   <div>
       <label for="@Html.FieldIdFor(m => m.ApiKey)">@T("Api key")</label>
       @Html.TextBoxFor(m => m.ApiKey, new { @class = "textMedium" })
       @Html.ValidationMessage("ApiKey", "*")
       @Html.Hint(T("API key for <a href=\"http://akismet.com/personal/\">Akismet</a> service."))
   </div>
</fieldset>