@model Orchard.MediaPicker.Settings.MediaGalleryFieldSettings

<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.Required) <label for="@Html.FieldIdFor(m => m.Required)" class="forcheckbox">@T("A media is required")</label>
        @Html.Hint(T("Check to ensure the user is providing at least one media."))
    </div>
</fieldset>
<fieldset>
    <div>
        <input name="ext-@Html.FieldNameFor(m => m)" id="ext-@Html.FieldIdFor(m => m)" type="checkbox" @if (!String.IsNullOrWhiteSpace(Model.AllowedExtensions)) { <text>checked="checked"</text> } />
        <label for="ext-@Html.FieldIdFor(m => m)" class="forcheckbox">@T("Allow only specific extensions")</label>
    </div>
    <div data-controllerid="ext-@Html.FieldIdFor(m => m)">
        <div>
            @Html.TextBoxFor(m => m.AllowedExtensions, new { @class = "textMedium" })
            @Html.Hint(T("You can define a set of extensions the user will be able to pick, separated by spaces, e.g. jpg png gif"))
            @Html.Hint(T("Leave it empty if you don't want to apply any restriction."))
        </div>
    </div>
</fieldset>
<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.Multiple) <label for="@Html.FieldIdFor(m => m.Multiple)" class="forcheckbox">@T("Allow multiple media items")</label>
        @Html.Hint(T("Check to allow the user to select multiple media items."))
    </div>
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.Hint)">@T("Help text")</label>
    @Html.TextAreaFor(m => m.Hint, new { @class = "textMedium", rows = "5" } )
    @Html.Hint(T("The help text is written under the field when authors are selecting media items."))
    @Html.ValidationMessageFor(m => m.Hint)
</fieldset>